body  {
 background-color: #F9EAD7;

}
.cartas {
  background-color: aliceblue;
  border-radius: 15px;
}

footer {
margin-top:50px;

background-color: #FFCB84 

}

.boton1 {
background-color: white;
width: 150px;
height: 35px;
}
.btn {
  background-color: white;
  width: 150px;
  height: 35px;
  }
.text {
  width: 90%;





}
