.btn {
  background-color: white;
  width: 150px;
  height: 35px;
}
.card-img-top{
  background-color: aliceblue;
  border-radius: 10px;
  max-height: 500px;
}
.btn {
  background-color: white;
  width: 250px;
  height: 80px;
  }
.text {
  width: 90%;





}